* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

 #sub{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
  }
